<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.theronin.expensetracker"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />

        <service android:name="org.theronin.expensetracker.data.loader.ExchangeRateDownloadService"/>

        <activity
            android:name=".pages.launch.LaunchActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="org.theronin.expensetracker.pages.main.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>

        <activity
            android:name="org.theronin.expensetracker.pages.entries.EntryDialogActivity"
            android:parentActivityName="org.theronin.expensetracker.pages.main.MainActivity"
            android:windowSoftInputMode="stateAlwaysVisible"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.theronin.expensetracker.pages.main.MainActivity"/>
        </activity>

        <activity
            android:name="org.theronin.expensetracker.pages.settings.SettingsActivity"
            android:label="@string/settings_activity"
            android:parentActivityName="org.theronin.expensetracker.pages.main.MainActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.theronin.expensetracker.pages.main.MainActivity"/>
        </activity>

    </application>

</manifest>
